@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Poppins:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,400;1,700&display=swap");
@layer base {
  input[type="number"]::-webkit-inner-spin-button,
  input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
}

body {
  font-family: "Montserrat", sans-serif;
}
.mainmenu > .menu-item-has-children > a::after {
  font-family: FontAwesome;
  content: "\f107";
  /* font-family: "unicons-line";
  content: "\eb3a"; */
  right: -16px;
}

.header-top-dropdown .dropdown .dropdown-toggle:after {
  font-family: FontAwesome;
  content: "\f107";
}

.header-top-dropdown .dropdown .dropdown-menu.show {
  /* border: 1px solid #e1e1e1;
  border-radius: 5px; */
}

.header-style-5 .header-top-link .quick-link li a:hover {
  color: var(--color-secondary);
}

.axil-mainmenu .header-navbar {
  position: relative;
}

.mainmenu > .menu-item-has-children.mega-menu {
  position: unset !important;
}

.mainmenu > .menu-item-has-children.mega-menu .axil-submenu {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 30px;
  width: 100%;
  left: 0;
}

.mainmenu > .menu-item-has-children .axil-submenu,
.axil-footer-widget {
  text-align: left;
}

.mainmenu > .menu-item-has-children:hover .axil-submenu {
  position: absolute;
  top: 105%;
  opacity: 1;
  visibility: visible;
  z-index: 9;
  pointer-events: all;
}

.mainmenu > .menu-item-has-children .axil-submenu::before {
  content: "";
  position: absolute;
  top: -20px;
  width: 100%;
  height: 20px;
  background: transparent;
}

.mainmenu > .menu-item-has-children.mega-menu .axil-submenu a {
  cursor: pointer;
}

.mainmenu > .menu-item-has-children.mega-menu .axil-submenu li {
  /* border-bottom: 1px solid #e1e1e1; */
  /* border-radius: 5px; */
}

.mainmenu > .menu-item-has-children.mega-menu .axil-submenu > li {
  padding: 10px;
}
.axil-submenu-header {
  cursor: auto;
  margin-bottom: 10px;
  /* color: var(--color-secondary) !important; */
}

.mainmenu > .menu-item-has-children.mega-menu .axil-submenu {
  padding: 30px;
}

.my-account > a:hover {
  color: #fff !important;
}

body .closeMask {
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 6;
  transition: 0.3s;
}

@keyframes CARTDROPDOWN-ANIMATION {
  from {
    right: -600px;
  }
  to {
    right: 0;
  }
}

@-webkit-keyframes OPACITY {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes SCALE {
  0% {
    transform: translateY(-50%) translateX(-50%) scale(0.8);
    opacity: 0;
    visibility: hidden;
  }
  100% {
    transform: translate(-50%, -50%) scale(1);
    opacity: 1;
    visibility: visible;
  }
}

.cart-dropdown {
  animation: CARTDROPDOWN-ANIMATION 0.3s ease;
  /* transition: right 0.3s ease; */
}

.header-search-modal {
  transform: translateY(-50%) translateX(-50%) scale(0.8);
  opacity: 0;
  visibility: hidden;
  animation: SCALE 0.3s ease;
  transition: all 0.3s cubic-bezier(0.29, 1.39, 0.86, 1.15);
}

.closeMask {
  animation: OPACITY 0.3s ease;
}

.cart-dropdown-wrap.enter-done .closeMask,
.header-search-modal-wrap.enter-done .closeMask {
  opacity: 1;
}

.cart-dropdown-wrap.exit .closeMask,
.header-search-modal-wrap.exit .closeMask {
  opacity: 0;
}

.header-search-modal-wrap.enter-done .header-search-modal {
  transform: translate(-50%, -50%) scale(1);
  opacity: 1;
  visibility: visible;
}

.header-search-modal-wrap.exit .header-search-modal {
  transform: translate(-50%, -50%) scale(0.8);
  opacity: 0;
  visibility: hidden;
}

.cart-dropdown-wrap.enter-done .cart-dropdown {
  right: 0;
}

.cart-dropdown-wrap.exit .cart-dropdown {
  right: -600px;
}

.header-action .my-account .my-account-dropdown {
  top: 148%;
}

.my-account ul li a {
  font-weight: bold;
}
.my-account ul li a:hover {
  color: var(--color-secondary) !important;
}

.header-style-5 .header-action .axil-search input {
  border-radius: 20px;
  border: 2px solid #e1e1e1;
  cursor: pointer;
}

.header-search-modal .card-close {
  background: #fff;
}

.header-search-modal .card-close:hover {
  background: var(--color-secondary) !important;
  color: #fff !important;
}

.header-search-wrap .thumbnail img {
  width: 50px;
  height: 50px;
  object-fit: cover;
}

.header-search-wrap #prod-search,
.header-search-wrap .axil-product-list,
.header-search-wrap .search-result-header {
  box-shadow: 0px 0px 8px rgb(0 0 0 / 12%);
  border: 1px solid #e0e0e0;
}

.header-search-wrap .axil-product-list .product-content h6 {
  font-size: 15px;
  font-weight: 700;
  color: black;
  margin-bottom: 5px;
}

.header-search-wrap .axil-product-list .product-content p,
.header-search-wrap .search-result-header,
.header-search-wrap .search-result-header .title {
  font-weight: 700;
}

.header-search-wrap .search-result-header {
  padding: 20px;
  border-radius: 5px;
  margin-bottom: 30px;
}

.swiper-horizontal > .swiper-pagination-bullets,
.swiper-pagination-bullets.swiper-pagination-horizontal,
.swiper-pagination-custom,
.swiper-pagination-fraction {
  justify-content: flex-end;
  display: flex;
  padding: 10px 20px;
}

.swiper-horizontal > .swiper-pagination-bullets .swiper-pagination-bullet,
.swiper-pagination-horizontal.swiper-pagination-bullets
  .swiper-pagination-bullet {
  padding: 5px;
  border: 3px solid #fff;
  border-radius: 3px;
  background: var(--color-secondary);
  background: black;
}

.hero .swiper {
  border-radius: 20px;
}
.swiper,
swiper-container {
  /* overflow: visible !important; */
}

.swiper-button-next,
.swiper-button-prev {
  width: 30px !important;
  height: 30px !important;
  background: #fff !important;
  padding: 20px;
  color: black !important;
  border-radius: 5px;
  border: 1px solid #e1e1e1;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
}

.swiper:hover .swiper-button-next:not(.swiper-button-disabled),
.swiper:hover .swiper-button-prev:not(.swiper-button-disabled) {
  opacity: 1;
  transition: opacity 0.5s ease;
}
.swiper:hover .swiper-button-disabled {
  opacity: 0.35 !important;
  transition: opacity 0.5s ease;
}

.swiper-button-disabled {
  opacity: 0 !important;
}

.swiper-button-next {
  right: 10px !important;
  opacity: 0;
}

.swiper-button-prev {
  left: 10px !important;
  opacity: 0;
}

.swiper-button-next:after {
  font-family: "unicons-line" !important;
  content: "\eb6d" !important;
}

.swiper-button-prev:after {
  font-family: "unicons-line" !important;
  content: "\eb79" !important;
}

.main-slider-content {
  width: 60%;
  height: 100%;
}

.shop-btn {
  position: absolute;
  bottom: 50px;
}

.main-slider-content .subtitle {
  font-style: italic;
  font-weight: 900;
}

.main-slider-content .title {
  /* text-shadow: -4px 3px 0 #3a50d9, -14px 7px 0 #0a0e27; */
  text-shadow: -4px 3px 0 #484848, -8px 6px 0 #1c1d24;
}

@keyframes fade-in {
  from {
    opacity: 0;
    transform: translateY(100px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.hero .swiper-slide-active .main-slider-content {
  animation-name: fade-in;
  animation-duration: 0.8s;
  animation-delay: 0.8s;
  animation-fill-mode: both;
  animation-loop: infinite;
}

.main-slider-content--desc p {
  color: #fff;
  font-weight: bold;
  font-style: italic;
}

.main-slider-content .title {
  margin-bottom: 30px;
}

.main-slider-style-5 .slider-box-wrap::after {
  display: none;
}

.main-slider-style-5 .main-slider-thumb img {
  min-height: 900px;
  max-height: 900px;
}

.footer-dark .axil-footer-widget .widget-title {
  font-weight: bold;
}

.footer-dark .axil-footer-widget .inner ul li a {
  cursor: pointer;
}

.axil-breadcrumb-area {
  padding: 30px 0;
}

.form-control.focusError {
  border-color: #ff0000 !important;
}

.Toastify__close-button {
  width: unset !important;
  align-self: center !important;
}

.button__loading {
  position: relative;
}
/* 
.button__loading:hover {
  background-color: #ff6600;
}

.button__loading:focus {
  outline: 0.05em dashed #ff6600;
  outline-offset: 0.05em;
} */

.button__loading::after {
  content: "";
  display: block;
  width: 1.2em;
  height: 1.2em;
  position: absolute;
  left: calc(50% - 0.65em);
  top: calc(50% - 0.65em);
  border: 0.15em solid transparent;
  border-right-color: white;
  border-radius: 50%;
  animation: button-anim 0.7s linear infinite;
  opacity: 0;
}

@keyframes button-anim {
  from {
    transform: rotate(0);
  }
  to {
    transform: rotate(360deg);
  }
}

.button__loading.loading {
  color: transparent;
}

.button__loading.loading::after {
  opacity: 1;
}

/* .button__tag.button__loading {
  width: 100%;
} */

.text-sub {
  /* color: var(--color-secondary); */
  color: #fff;
}

.axil-product > .thumbnail > a {
  /* box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22) !important; */
  border: 2px solid #e1e1e1;
  box-shadow: unset !important;
}

.axil-product .product-content .title a:hover {
  color: var(--color-secondary);
}

.pagination-container {
  justify-content: start;
  padding: 20px 0;
}

.pagination-container .pagination-item {
  font-weight: bold;
  border: 2px solid #d6d6d6;
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 0px 0px rgba(0, 0, 0, 0.22);
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px !important;
  height: 40px !important;
  border-radius: 7px !important;
}

.pagination-container .pagination-item.selected {
  background: var(--color-primary) !important;
  color: #fff !important;
}

.category-active h6 {
  color: var(--color-secondary) !important;
}

.category-active img {
  /* box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22) !important; */
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 0px 0px rgba(0, 0, 0, 0.22);
  border: 5px solid var(--color-primary) !important;
}

.cart-dropdown .cart-item .item-img .close-btn {
  left: 0px;
}

/* html:has(.cart-dropdown-wrap) {
  overflow-y: hidden;
} */

.color-group__item {
  height: 58px;
  width: 58px;
  border: 2px solid black;
  border-radius: 5px;
  /* margin-right: 10px; */
  margin-right: 0;
}

.axil-product > .thumbnail > a {
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 0px 0px rgba(0, 0, 0, 0.22);
}

.axil-mainmenu.axil-sticky {
  z-index: 5;
}

input.form-control {
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 0px 0px rgba(0, 0, 0, 0.22);
  color: black !important;
}

small.text-red-600 > * {
  color: red;
  font-weight: bold;
}

small {
  display: inline-block;
  /* display: none; */
  /* opacity: 0; */
  /* visibility: hidden; */
  padding: 2px;
}

.focusError > div {
  border-color: red !important;
}

.form-group label {
  font-size: 12px;
}

.hidden {
  visibility: hidden !important;
}

.axil-order-summery.order-checkout-summery .summery-table-wrap {
  padding: 0 !important;
  background: inherit !important;
}

.btn-primary,
.btn-primary:hover,
.btn-primary:active,
.btn-primary:visited {
  background: var(--color-primary) !important;
  outline: var(--color-primary) !important;
  box-shadow: var(--color-primary) !important;
  border-color: var(--color-primary) !important;
}

.footer-dark,
.header-style-5 .axil-header-top {
  background: #171718 !important;
}

.footer-dark .copyright-default .quick-link li a {
  font-weight: bold !important;
  text-transform: capitalize !important;
}

.footer-dark .axil-footer-widget .inner ul li a {
  font-weight: bold;
  font-style: italic !important;
  display: inline-flex;
  align-items: center;
}

.main-wrapper {
  min-height: 100vh;
}

.header-style-5 .header-top-link .quick-link li a,
.header-style-5 .header-top-dropdown .dropdown .dropdown-toggle {
  font-weight: bold;
}

.product-action-wrapper .product-action .add-to-cart {
  margin-top: 0;
}

.header-main-nav.open
  .mainmenu-nav
  .mainmenu
  li.menu-item-has-children.open
  > ul.axil-submenu {
  padding: 10px;
  display: block;
}

li.menu-item-has-children.open > ul.axil-submenu {
}

@media only screen and (max-width: 767px) {
  .axil-product-table tbody td.product-remove.product-remove-status {
    position: unset;
  }

  .axil-product-list .product-content .product-cart .cart-btn {
    background: var(--color-primary);
    margin-left: 0;
    color: #fff;
  }

  .product-detail-wrap .product-small-thumb-3 .swiper .swiper-slide img {
    max-height: 100px !important;
  }

  .axil-single-product-area .col-lg-2.order-lg-1 {
    height: 300px !important;
  }
}

@media only screen and (max-width: 992px) {
  .product-detail-wrap .product-small-thumb-3 .swiper .swiper-slide img {
    max-height: 100px !important;
  }

  .axil-single-product-area .col-lg-2.order-lg-1 {
    height: 300px !important;
  }
}

.single-product-content .inner .product-variation.product-size-variation {
  align-items: center !important;
}

.range-variant li {
  margin: 0 5px !important;
}

.single-product-content .inner .product-variation {
  margin-bottom: 30px !important;
}
